body {
  background: white; /*#D4ECFA;*/
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2 {display:inline;}

h1#title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  fill: #0280C5;

}

h2#date {
  font-size: 12px;
  margin-bottom: 5px;
  fill: #0280C5;
}

div#head{
  border-width: 0px;
 }

div#container {

  padding:5px;
  border-width: 0px;
  border-top: 2px;
  border-style: solid;
  border-color: #0280C5;
  width: 600px;

}

text.subtitle {
  font-size: 16px;
}

text.label {
  font-size: 10px;
  text-anchor: "end";
}


text.price {
  font-size: 10px;
  text-anchor: "end";
  fill: #004C74;
}


path.hood {
  fill: white;
  stroke: #D4ECFA;
}

path.borough {
  stroke: #0280C5;
  stroke-width: 2;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

path.domain  {
  stroke-width: 0;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 15px;
    font: 12px sans-serif;
    background: white;
    border: 1px;
    border-style: solid;
    border-color: #D8DEE2;
    pointer-events: none;
}

.tooltip h4 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 8px;
}

.tooltip p {
  margin-top: 4px;
  margin-bottom: 4px;
}
