body {
  background: #D4ECFA;
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2 {display:inline;}

h1#title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  fill: #0280C5;

}

h2#date {
  font-size: 12px;
  margin-bottom: 5px;
  fill: #0280C5;
}

div#head{
  border-width: 0px;
 }

div#container {

  padding:5px;
  border-width: 0px;
  border-top: 2px;
  border-style: solid;
  border-color: #0280C5;
  width: 600px;

}

text.subtitle {
  font-size: 16px;
}

text.label {
  font-size: 10px;
  text-anchor: "end";
}


text.price {
  font-size: 10px;
  text-anchor: "end";
  fill: #004C74;
}


path.hood {
  fill: white;
  stroke: #D4ECFA;
}

path.borough {
  stroke: #0280C5;
  stroke-width: 2;
}
